node_modules/
dist/
*.db
*.db-journal
*.db.lock
uploads/
*.apk
*.aab
android/
ios/
.env
gerar-apk.zip
frontend/node_modules/
backend/node_modules/
frontend/dist/
backend/dist/
.git_disabled/
frontend/.git_disabled/
backend/.git_disabled/
